# ─── Logging Configuration ───────────────────────────
LOG_LEVEL=DEBUG
LOG_DIR=target/logs
LOG_CONSOLE_ENABLED=true
LOG_FILE_ENABLED=true

# ─── Environment ─────────────────────────────────────
ENV=QA
BROWSER=chrome
HEADLESS_BROWSER=false
BASE_URL=https://www.saucedemo.com

# ─── Account ───────────────────────────
SAUCEDEMO_USERNAME=
SAUCEDEMO_PASSWORD=